version: '2.2'

services:
  chief:
    image: tensorflow-img-rec
    cpu_count: 1
    ports:
    - 6006:6006
    environment:
      TF_CONFIG: '{"cluster": {"chief": ["chief:2222"],"worker": ["worker_1:2222","worker_2:2222"]},"task": {"type": "chief", "index": 0}}'

  worker_1:
    image: tensorflow-img-rec
    cpu_count: 1
    environment:
      TF_CONFIG: '{"cluster": {"chief": ["chief:2222"],"worker": ["worker_1:2222","worker_2:2222"]},"task": {"type": "worker", "index": 0}}'

  worker_2:
    image: tensorflow-img-rec
    cpu_count: 1
    environment:
      TF_CONFIG: '{"cluster": {"chief": ["chief:2222"],"worker": ["worker_1:2222","worker_2:2222"]},"task": {"type": "worker", "index": 1}}'
