# Namespace for the App
apiVersion: v1
kind: Namespace
metadata:
  name: tensorflow
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: pods-list
rules:
- apiGroups: [""]
  resources: ["services", "endpoints", "pods"]
  verbs: ["get", "list", "watch"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: pods-list
subjects:
- kind: ServiceAccount
  name: tensorflow
  namespace: tensorflow
roleRef:
  kind: ClusterRole
  name: pods-list
  apiGroup: rbac.authorization.k8s.io
---
# NodePort Service to export the tensorboard from chiefnode
apiVersion: v1
kind: Service
metadata:
  name: tensorboard-svc
  namespace: tensorflow
spec:
  selector:
    app: chief
  type: NodePort
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 6006
---
# Chief Service
apiVersion: v1
kind: Service
metadata:
  name: chief-svc
  namespace: tensorflow
spec:
  selector:
    app: chief
  ports:
    - port: 2222
      protocol: TCP
      targetPort: 2222
---
# Deployment Chief
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tensorflow-chief
  namespace: tensorflow
spec:
  selector:
    matchLabels:
      app: chief
  replicas: 1
  template:
    metadata:
        labels:
          app: chief
    spec:
      volumes:
        - name: shared-model
          emptyDir: {}
      containers:
        - name: chief
          image: tensorflow-img-rec
          imagePullPolicy: Never
          env:
            - name: POD_TASK
              value:  'chief'
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          ports:
            - containerPort: 2222
          volumeMounts:
            - mountPath: /notebooks/app/dist
              name: shared-model
        - name: serving
          image: tensorflow/serving
          imagePullPolicy: Always
          volumeMounts:
            - mountPath: /models/model
              name: shared-model
          ports:
            - containerPort: 8501
---
# Worker Service
apiVersion:  v1
kind: Service
metadata:
  name: worker-svc
  namespace: tensorflow
spec:
  clusterIP: None # <-- headless
  selector:
    app: worker
  ports:
    - port: 2222
      protocol: TCP
      targetPort: 2222
---
# Deployment Worker
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tensorflow-worker
  namespace: tensorflow
spec:
  selector:
    matchLabels:
      app: worker
  replicas: 2
  serviceName: "worker-svc"
  podManagementPolicy: "Parallel"
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: tensorflow-img-rec
          imagePullPolicy: Never
          env:
            - name: POD_TASK
              value: 'worker'
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          ports:
            - containerPort: 2222
---
# NodePort Service to export the tensorflow-model HTTP
apiVersion: v1
kind: Service
metadata:
  name: model-http-svc
  namespace: tensorflow
spec:
  selector:
    app: chief
  type: NodePort
  ports:
    - port: 8501
      protocol: TCP
      targetPort: 8501
---
# NodePort Service to export the tensorflow-model GRPC
apiVersion: v1
kind: Service
metadata:
  name: model-grpc-svc
  namespace: tensorflow
spec:
  selector:
    app: chief
  type: NodePort
  ports:
    - port: 8500
      protocol: TCP
      targetPort: 8500