# Namespace for the App
apiVersion: v1
kind: Namespace
metadata:
  name: tensorflow
---
# NodePort Service to export the tensorboard from chiefnode
apiVersion: v1
kind: Service
metadata:
  name: chief-tensorboard
  namespace: tensorflow
spec:
  selector:
    app: chief
  type: NodePort
  ports:
    - port: 8080
      protocol: TCP
      targetPort: 8080
---
# Chief Service
apiVersion: v1
kind: Service
metadata:
  name: chief-svc
  namespace: tensorflow
spec:
  selector:
    app: chief
  ports:
    - port: 2222
      protocol: TCP
      targetPort: 2222
---
# Deployment Chief
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tensorflow-chief
  namespace: tensorflow
spec:
  selector:
    matchLabels:
      app: chief
  replicas: 1
  template:
    metadata:
        labels:
          app: chief
    spec:
      containers:
        - name: chief
          image: tensorflow-img-rec
          imagePullPolicy: Never
          env:
            - name: CLUSTER_TASK
              value:  'chief'
          ports:
            - containerPort: 2222
---
# Worker Service
apiVersion:  v1
kind: Service
metadata:
  name: worker-svc
  namespace: tensorflow
spec:
  clusterIP: None # <-- headless
  selector:
    app: worker
  ports:
    - port: 2222
      protocol: TCP
      targetPort: 2222
---
# Deployment Worker
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: tensorflow-worker
  namespace: tensorflow
spec:
  selector:
    matchLabels:
      app: worker
  replicas: 2
  serviceName: "worker-svc"
  podManagementPolicy: "Parallel"
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
        - name: worker
          image: tensorflow-img-rec
          imagePullPolicy: Never
          env:
            - name: CLUSTER_TASK
              value: 'worker'
          ports:
            - containerPort: 2222
